body {
	width: 800px;
	margin: 80px auto;
}

header h1{
	width: 400px;
	height: 65px;
	margin: 0 auto;
	font-size: 35px;
	font-weight: normal;
	line-height: 65px;
	text-align: center;
	border: 2px solid #727274;
	border-radius: 4px;
	/*letter-spacing: 10px;*/
}

header em {
	display: block;
	width: 404px;
	height: 40px;
	margin: 0 auto;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	color: #7b7b7d;
	/*letter-spacing: 3px;*/
}

main {

}

main > div {
	float: left;
}

.left-info {
	width: 381px;
	padding-right: 16px;
	border-right: 3px solid #d3d3d5;
}

.left-info h3{
	font-size: 22px;
}

.project , .education{
	text-align: right;
	margin-bottom: 20px;
}

.internship{
	text-align: left;
}

.right-info {
	width: 384px;
	height: 800px;
	padding-left: 16px;
}

.right-info h3 {
	font-size: 22px;
}

.time {
	color: #7e7e80;
	font-style: italic;
	font-size: 14px;
	padding: 20px 0;
}

.name {
	font-weight: bold;
	font-size: 18px;
}

.position {
	color: #7e7e80;
	font-size: 14px;
}

.brief {
	color: #7e7e80;
	font-size: 14px;
}

.skills {
	margin-top: 30px;
}

.skills ul li {
	position: relative;
	height: 30px;
	width: 340px;
}

.skills ul li em {
	float: left;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}

.skills .outer {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -5px;
	height: 10px;
	width: 200px;
	background-color: #BABABD
}

.skills .inner {
	position: absolute;
	left: 0;
	top:0;
	height: 10px;
	background-color: #7e7e80;
}
